*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.card{
	min-width: 30rem;
	max-width: 50rem;
	height: auto;
	padding: 10px;
	margin: 13rem auto;
	border-radius: 5px;
	box-shadow: 0px 8px 25px 2px #dcd7d7;
}

.card h4{
	font-size: 3rem;
}

.total-cases{
	color: #adabab;
}

.total-recovered{
	color: #8ACA2B;
}

.total-deaths{
	color: #696969;
}


.country-name{
	position: relative;
	bottom: 19px;
	left: 15px;
	font-size: 2.2rem;
}

#display-country{
	text-align: center;
	margin: 20px 0;
}

.data{
	margin: 30px;
}